/* the project colors */

:root {
  --primary: #E7DEDA;
  --secondary: #F4F6FA;
  --tertiary: #2D89EF;
  --primary-text: #232E3C;
  --secondary-text: #656D77;
  --btn-primary: #206BC4;
  --btnSecondary: #656D77;
  --btn-sucess: #2FB344;
  --btn-danger: #D63939;
  --btn-warning: #F76707;
  --btn-info: #4299E1;
  --text-link: #206BC4;
}


